doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/vendor/fontawesome-free/css/fontawesome.min.css')
    link(rel='stylesheet', href='/vendor/fontawesome-free/css/brands.min.css')
    link(rel='stylesheet', href='/vendor/fontawesome-free/css/solid.min.css')
    link(rel='stylesheet', href='/public/stylesheets/style.css')
  body
    nav.navbar.navbar-dark.bg-dark
      .container
        a.navbar-brand Simple Bookmark Store
    block content
