doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.min.css')
  body
    nav.navbar.navbar-dark.bg-dark
      .container
        a.navbar-brand Simple Bookmark Store
    block content
